body {
  background: linear-gradient(
    112.4deg,
    rgb(176, 174, 225) 44.9%,
    rgb(135, 197, 235) 94.5%
  );
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 500px;
  height: 400px;
  background: aliceblue;
  border-radius: 10px;
  margin: 50px auto;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1 {
  text-align: center;
  font-size: 35px;
}
h2 {
  margin: 0px 0px 5px;
  font-size: 25px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 36px;
  font-weight: bold;
}
.time small {
  font-size: 17px;
  vertical-align: middle;
  line-height: 36px;
}
.date {
  opacity: 0.7;
  font-size: 14px;
}
footer {
  text-align: center;
  font-size: 13px;
}
a {
  color: blueviolet;
}
